<!DOCTYPE html>
<html lang="es-mx">
    <head>
        <meta charset="UTF-8">
        <title>.:: Registro a tutorías ESCOM ::.</title>
        <meta name="author" content="T9">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../styles/styles.css" rel="stylesheet">
    </head>

    <body>
        <!-- NAV VAR-->
        <header class="p-3 text-bg-dark text-bg-light">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="index.html" class="nav-brand headerImg"><img src="../src/escudoIPN.png" alt="Logo IPN" title="Logo IPN" class="headerImg"></a>
                    <a href="index.html" class="nav-brand headerImg"><img src="../src/escudoESCOM.png" alt="Logo ESCOM" title="Logo ESCOM" class="headerImg"></a>
        
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="index.html" class="nav-link px-2 text-secondary">Inicio</a></li>
                        <li><a href="registro.html" class="nav-link px-2 text-white">Registro</a></li>
                        <li><a href="adm.html" class="nav-link px-2 text-secondary">Admin</a></li>
                    </ul>
                    
                    <!-- BUTTON sin acción
                    <div class="text-end">
                        <button type="button" class="btn btn-outline-light me-2">Admin</button>
                    </div>
                    -->

                </div>

            </div>
        </header>
          
        <h1>PÁGINA DE registro</h1>

        <div class="p-3">
            <form action="" method="GET" name="datos" id="DatosPA">
                <fieldset class="">
                    <legend><b>Datos personales y académicos</b></legend>
                    <p>Por favor, ingrese los siguientes datos para crear su cuenta en el programa de tutorías.</p>
                    <label for="boleta">Boleta: </label>
                    <input type="number" name="boleta" id="boleta" placeholder="Introduce los 10 digitos" required><br>
                    <label for="nombre">Nombre: </label>
                    <input type="text" name="nombre" id="nombre"><br>
                    <label for="primerAp">Apellido paterno: </label>
                    <input type="text" name="primerAp" id="primerAp"><br>
                    <label for="segundoAp">Apellido materno: </label>
                    <input type="text" name="segundoAp" id="segundoAp"><br>
                    <label for="tel">No. de teléfono: </label>
                    <input type="tel" name="tel" id="tel" placeholder="+52"><br>
                    <label for="semestre">Semestre que cursas actualmente: </label>
                    <input type="number" name="semestre" id="semestre" required><br>
                    <label for="carrera">Carrera en la que estas inscrito: </label>
                    <select id="carrera">
                        <option value="0">Selecciona una carrera:</option>
                        <option value="isc">Ingeniería en Sistemas Computacionales</option>
                        <option value="iia">Ingeniería en Inteligencia Artificial</option>
                        <option value="lcd">Licenciatura en Ciencia de Datos</option>
                    </select><br>
                    <p>Elige el género de tu tutor: </p>
                    <input type="radio" name="genero" value="H">Hombre
                    <input type="radio" name="genero" value="M">Mujer
                </fieldset>
                <button>Registrar</button>
                <button>Limpiar</button>
            </form>
        </div>

    </body>
</html>