<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutoría de recuperación</title>
    <meta name="author" content="T9">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/styles.css" rel="stylesheet">
</head>
<body >
    <header class="p-3 text-bg-dark text-bg-light">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="index.html" class="nav-brand"><img src="../src/escudoIPN.png" alt="Logo IPN" title="Logo IPN" class="headerImg"></a>
                <a href="index.html" class="nav-brand"><img src="../src/escudoESCOM.png" alt="Logo ESCOM" title="Logo ESCOM" class="headerImg"></a>
    
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="index.html#recuper" class="nav-link px-2 text-white">Inicio</a></li>
                    <li class="nav-link px-2 text-white">></li>
                    <li class="nav-link px-2 text-white">Tutoría de recuperación académica</li>
                    <li><a href="registro.html" class="nav-link px-2 text-secondary">Registro</a></li>
                    <li><a href="adm.html" class="nav-link px-2 text-secondary">Admin</a></li>
                    <li><a href="generarPDF.html" class="nav-link px-2 text-secondary">Generar PDF</a></li>
                </ul>

            </div>

        </div>
    </header>

    <main class="container-md">
        <h1>Tutoria de recuperacion academica</h1>
        <hr class=" border-primary border-3 opacity-75">
        <p>
            Es la acción dirigida a grupos de alumnos con dictamen de la Comisión de
            Situación Escolar (COSIE), en riesgo de rezago, abandono o que han recursado una
            Unidad de Aprendizaje y no la acreditaron; así como de unidades de aprendizaje de
            programas en liquidación. Esta acción tiene la finalidad de regularizar la trayectoria
            escolar de los alumnos. La tutoría debe contar con la aprobación de la Academia, el
            visto bueno del titular de la Unidad Académica y estar autorizada por la Dirección
            de Coordinación correspondiente.
        </p>
        <h2>Actividades:</h2>
        <ol >
            <li >Asiste a la Reunión de Academia para definir las acciones a realizar.</li>
            <li >Recibe del subdirector académico su designación con base en los acuerdos
                de la Academia.</li>
            <li >Elabora el PTT de recuperación académica y entrega al coordinador del PAT
                dentro de los 15 días naturales posterior a la asignación.</li>
            <li >Realiza las acciones de recuperación con base en el PTT y reporta oportuna-
                mente el desempeño y las incidencias del grupo durante su implementación.</li>
            <li >Elabora y entrega puntualmente al Coordinador del PAT los resultados de la
                actividad.</li>
        </ol>
        <h2>Para la emisión de la constancia correspondiente es requisito
            indispensable:</h2>
    
        <p>
        Las Direcciones de Coordinación (DES y DEMS), bajo la coordinación de la Secre
        taría Académica definieron la propuesta de procedimientos para las acciones de
        recuperación académica por tutorías quedando de la siguiente manera:
    
        La Unidad Académica enviará mediante oficio la solicitud de acciones de recupe
        ración por tutoría a la Dirección de Coordinación correspondiente a más tardar la
        cuarta semana de inicio del periodo con la siguiente información:
        </p>
    
        <ol >
            <li >Acuerdo(s) de Academia</li>
            <li >Nombre del tutor o tutora</li>
            <li >Programa Académico</li>
            <li >Unidad de aprendizaje</li>
            <li >Fecha de inicio</li>
            <li >Salón</li>
            <li >Horario</li>
        </ol>
        
        <p>De no existir observaciones, la Dirección de Coordinación autoriza mediante oficio
            las acciones de recuperación solicitando lo siguiente:</p>
    
            <ol >
                <li >La Unidad Académica tendrá 15 días naturales posteriores a la autorización,
                    para enviar a la Dirección de Coordinación correspondiente el Plan de Tra
                    bajo Tutorial (PTT) con la finalidad de realizar el registro y seguimiento opor
                    tuno. En caso de no entregar el PTT solicitado se cancelará dicha solicitud.</li>
                <li >La duración de los cursos será entre el 60 y 70 por ciento del tiempo total de
                    las horas del programa.</li>
                <li >Las Direcciones de Coordinación realizaran por lo menos tres visitas de se-
                    guimiento a las Unidades Académicas.</li>
                <li >Una vez concluida las acciones de recuperación, la Unidad Académica envia
                    rá a la Dirección de Coordinación correspondiente el informe de resultados
                    dentro de los 15 días naturales posteriores al término de la actividad tutorial.</li>
    
            </ol>    
    </main>

    <footer class="container-md d-flex flex-wrap justify-content-between align-items-center py-3">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
          </a>
          <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 <span><a href="https://escom.ipn.mx">escom.ipn.mx</a></span></span>
        </div>
    
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3">Equipo 9</li>
        </ul>
    </footer>
    
</body>
</html>