<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutoría entre pares</title>
    <meta name="author" content="T9">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/styles.css" rel="stylesheet">
</head>
<body>
    <header class="p-3 text-bg-dark text-bg-light">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="index.html" class="nav-brand"><img src="../src/escudoIPN.png" alt="Logo IPN" title="Logo IPN" class="headerImg"></a>
                <a href="index.html" class="nav-brand"><img src="../src/escudoESCOM.png" alt="Logo ESCOM" title="Logo ESCOM" class="headerImg"></a>
    
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="index.html#pares" class="nav-link px-2 text-white">Inicio</a></li>
                    <li class="nav-link px-2 text-white">></li>
                    <li class="nav-link px-2 text-white">Tutoría entre pares</li>
                    <li><a href="registro.html" class="nav-link px-2 text-secondary">Registro</a></li>
                    <li><a href="adm.html" class="nav-link px-2 text-secondary">Admin</a></li>
                    <li><a href="generarPDF.html" class="nav-link px-2 text-secondary">Generar PDF</a></li>
                </ul>

            </div>

        </div>
    </header>

    <main class="container-md">
        <h1>Tutoria entre pares</h1>
        <hr class=" border-primary border-3 opacity-75">
        <p>
            Esta actividad es desempeñada por alumnos de los Niveles Medio Superior o
            Superior con buen dominio en determinadas unidades de aprendizaje, las cuales,
            frecuentemente tienen alto índice de reprobación. La tutoría entre pares se realiza
            en un espacio y horario asignado, y la labor del alumno tutor es explicar los temas
            que no han sido comprendidos parcial o totalmente, apoyar con ejemplos y resolu-
            ción de problemas o ejercicios, en un ambiente de respeto y confianza, compartien-
            do estrategias de enseñanza que los jóvenes tutores han innovado y son de utilidad
            para que sus pares tengan mejor comprensión de las temáticas abordadas. Para el
            óptimo desarrollo de esta actividad es necesario que los alumnos tutores cuenten
            con el acompañamiento y coordinación de un docente tutor.
        </p>
        <h2>Actividades:</h2>
        <ol >
            <li >Elaborar junto con su tutor(a) la Estrategia para la Asesoría Académica (EAA).</li>
            <li >Implementar las acciones de asesoría de acuerdo con la EAA.</li>
            <li >Reportar oportunamente al tutor(a) y Coordinador del PAT de la UA los avan
                ces e incidentes en la implementación del EAA.</li>
            <li >Elaborar y entregar puntualmente el informe de actividades.</li>
        </ol>
        <h2>Para la emisión de la constancia correspondiente es requisito
            indispensable:</h2>
        <ol >
            <li >Debe entregar informe de actividades al coordinador PAT.</li>
        </ol>

    </main>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 container-md">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
          </a>
          <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 <span><a href="https://escom.ipn.mx">escom.ipn.mx</a></span></span>
        </div>
    
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3">Equipo 9</li>
        </ul>
    </footer>
    
    
</body>
</html>