@import url(styles-general.css);

.fondoSesion{
    background-image: url("../imgs/fondoInicioSesion.jpg");
    height: 500px;
    background-size: cover;

    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.contenedorFormSesion{
    background-color: white;
    padding: 25px;
    margin: auto;
    border-radius: 20px;
    width: 70%;
}